---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="博客" description="博客文章">
  <Navbar />
  <main class="coming-soon">
    <div class="coming-soon__icon">&#9998;</div>
    <h1 class="coming-soon__text">博客 &mdash; 即将上线</h1>
  </main>
  <Footer />
</Layout>
