---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="项目演示" description="项目演示">
  <Navbar />
  <main class="coming-soon">
    <div class="coming-soon__icon">&#9881;</div>
    <h1 class="coming-soon__text">项目演示 &mdash; 即将上线</h1>
  </main>
  <Footer />
</Layout>
