---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import BlogSnippets from '../components/BlogSnippets.astro';
import DemoShowcase from '../components/DemoShowcase.astro';
---
<Layout title="Home" description="My personal homepage">
  <Navbar />
  <main>
    <Hero />
    <BlogSnippets />
    <DemoShowcase />
  </main>
</Layout>
