---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="照片" description="照片画廊">
  <Navbar />
  <main class="coming-soon">
    <div class="coming-soon__icon">&#128247;</div>
    <h1 class="coming-soon__text">照片 &mdash; 即将上线</h1>
  </main>
  <Footer />
</Layout>
