---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Photos" description="Photo gallery">
  <Navbar />
  <main class="coming-soon">
    <div class="coming-soon__icon">&#128247;</div>
    <h1 class="coming-soon__text">Photos &mdash; Coming Soon</h1>
  </main>
  <Footer />
</Layout>
